.NavLink {
  font-size: 18px;
  line-height: 1.33;
}

.NavLink:hover {
  color: rgb(163, 163, 87);
}
.box_nawlink {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 25px 0 25px 0;
}
