.not_found_button {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  background-color: rgb(5, 5, 5);
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 77px;
  height: 38px;
  border: none;
  border-radius: 5px;
  transition: 175ms ease-in-out;
  text-align: center;
}
.not_found_button:hover {
  color: aqua;
}
